.divs{
    background-image: url('stars.jpg');
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: space-between;
}
.carts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#id_password
{
    width: 300px;
    height: 100px;
    border-radius: 50%;
}

#id_username
{
    width: 100px;
    height: 300px;
}