{% extends 'blog/base.html' %}
{% block title%}
{{post.title}}
{% endblock %}
{% block content%}

<section class="content">
    <div class="row">
        {% for category in categories %}
        <div>
            <a href="{{category.get_absolute_url}}"><h2 style="text-align: center;">{{category.title}}</h2>
            {% if category.image.url != null %}
            <img style="text-align: center; width: 100%;" src="{{category.image.url}}" alt="">
            {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock%}