{% extends 'blog/base.html' %}

{% block title %}
Обратная связь
{% endblock %}

{% block content %}
<section class="container">
    <h1>Обратитесь не стесьняя!</h1>
    <div class="row">
        <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if not user.is_authenticated %}
                    <label>Имя</label>
                    <input type="text" class="form-control" name="name">
                    <p>
                    <label>Фамилия</label>
                    <input type="text" class="form-control" name="last_name">
                    </p>
                    <p>
                    <label>Ваш E-Mail</label>
                    <input type="email" class="form-control" name="email">
                    </p>
            {% endif %}
                    <p>
                    <label>Телефон</label>
                    <input type="text" class="form-control" name="phone">
                    </p>
                    <label>Сообщение</label>
                    <textarea name="message" cols="30" rows="10" class="form-control"></textarea>
                    <button class="btn btn-outline-danger">Отправить</button>
        </form>
    </div>
</section>
{% endblock %}