{% extends 'blog/base.html' %}
{% load static %}
{% block title%}
    Главная
{% endblock %}

{% block content %}

<div class="container-fluid">
  </div>
  <div class="row">
  {% for post in news%}
    <div class="col-md-3">
      <a href="{{post.get_absolute_url}}">
        <h3>{{post.title}}</h3>
      </a>
        {% if post.image.url != null %}
          <img src="{{post.image.url}}" alt="" width="100%">
        {% endif %}
          <p>{{post.summary}}</p>
        <em>{{post.date|date:"h:s d Y "}}</em>
    </div>
  {% endfor %}
  </div>
</div>
</div>
{% endblock %}