{% extends 'blog/base.html' %}

{% block title %}
Популярные посты
{% endblock %}

{% block content %}
<h1>Популярные посты по просмотрам</h1>
  <div class="row">
  {% for post in popular %}
    <div class="col-md-3">
        <h3>{{post.title}}</h3>
          <img src="{{post.image.url}}" alt="" width="100%">
          <p>{{post.summary}}</p>
        <em>{{post.date|date:"h:s d Y "}}</em>
        <em>Просмотры: {{post.views}}</em>
    </div>
  {% endfor %}
  </div>
{% endblock %}