{% extends 'blog/base.html' %}
{% block title %}
Form Registration
{% endblock %}

{% block content %}
<section class="container">
    <h1>ФОрма регистрации</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success">Зарегистрироватся</button>
    </form>
</section>
{% endblock %}