{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
   Поиск по запрсу: {{query}}
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
  
  
    {% for post in search_obj %}
      <div class="col-md-3">
        {% if post.image.url != null %}
          <a href=""><h3>{{post.title}}</h3>
            <img src="{{post.image.url}}" alt="" width="100%"></a>
          {% endif %}
            <p>{{post.summary}}</p>
          <em>{{post.date}}</em>
      </div>
    {% endfor %}
    </div>
  </div> 
  {% endblock %}